/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* End of Reset */

/* Variables */

:root {

  /* colors */
  --light-foam: hsl(160, 100%, 99%);
  --dark-green: hsl(164, 33%, 16%);
  --green: hsl(163, 73%, 30%);

  /* fonts */

  --extra-large-text: 48px;
  --large-text: 24px;
  --medium-text: 21px;
}

